body {
    background: url("../assets/auth.svg") no-repeat;
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    margin-top: 56px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.top__bar {
    width: calc(100% - 16px);
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.17);
    position: relative;
}
.top__bar i {
    position: absolute;
    left: 16px;
    top: 14px;
    font-size: 24px;
}
.main {
    margin-top: 57px;
}

.auth__label {
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 129.1%; /* 20.656px */
    letter-spacing: 0.32px;
}
.small__label {
    color: #000;
    font-family: Manrope;
    font-size: 13.147px;
    font-style: normal;
    font-weight: 600;
    line-height: 129.1%; /* 16.973px */
    letter-spacing: 0.263px;
}
.standart__form {
    display: flex;
    background-color: white;
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.17));
    border-radius: 14px;
    margin: 0 17px;
    
}
.standart__form > .content {
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 24px);
}
.standart__form .component {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.standart__form .component + .component {
    margin-top: 12px;
}
.standart__input {
    margin-top: 12px;
    /* height: 42px; */
    padding: 14px;
    border-radius: 10px;
    border: 1px solid rgba(66, 66, 66, 0.25);
}
.confirm__input { 
    margin-top: 12px;
    position: relative;
    border-radius: 10px;
    color: #000;
    padding: 9px 15px;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 36px */
    letter-spacing: 30px;
}

.confirm__text {
    margin-top: 12px;
    color: #000;
    font-family: Manrope;
    font-size: 13.147px;
    font-style: normal;
    font-weight: 600;
    line-height: 129.1%; /* 16.973px */
    letter-spacing: 0.263px;
}
.standart__input::placeholder {
    color: #000;

    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.1%; /* 15.492px */
    letter-spacing: 0.24px;
}
.standart__input:focus {
    padding: 14px;
    border: 1px solid #9797FF;
    transition: border 1s;
}
.standart__input::content {
    padding-left: 14px;
    color: #000;

    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.1%; /* 15.492px */
    letter-spacing: 0.24px;
}
.button__purple {
    margin-top: 24px;
    color: #FFF;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    padding: 5px 20px;
    border-radius: 30px;
    background: #9797FF;
}
.button__white {
    margin-top: 14px;
    color: #9797FF;

    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    padding: 5px 20px;
    border: 1px solid #9797FF;
    border-radius: 30px;

    background: #FFF;
}
